<nav class="nav">
    <a routerLink="/">← Volver</a>
    <h1>Galería de Fotos</h1>
</nav>

<section class="gallery">
    <img src="assets/img/galeria/a.jpg" alt="Foto galería hotel">
    <img src="assets/img/galeria/b.jpg" alt="Foto galería hotel">
    <img src="assets/img/galeria/c.jpg" alt="Foto galería hotel">
    <img src="assets/img/galeria/d.jpg" alt="Foto galería hotel">
    <img src="assets/img/galeria/e.jpg" alt="Foto galería hotel">
    <img src="assets/img/galeria/f.jpg" alt="Foto galería hotel">
    <img src="assets/img/galeria/g.jpg" alt="Foto galería hotel">
    <img src="assets/img/galeria/h.jpg" alt="Foto galería hotel">
    <img src="assets/img/galeria/i.jpg" alt="Foto galería hotel">
    <img src="assets/img/galeria/j.jpg" alt="Foto galería hotel">
    <img src="assets/img/galeria/k.jpg" alt="Foto galería hotel">
</section>