<header class="header">
    <nav class="nav">
        <h1 class="logo">Ultimate Hotel Software</h1>
        <div class="nav-links">
            <a href="#">Inicio</a>
            <a href="#experiencia">Experiencia</a>
            <a routerLink="/galeria">Galería</a>
            <a href="#contacto">Contacto</a>
            <a routerLink="/login">Login</a>
        </div>
    </nav>

    <div class="hero">
        <h2>Una experiencia pensada<br>para descansar</h2>
        <a href="#" class="btn">Reservar ahora</a>
    </div>
</header>

<section class="bloque" id="experiencia">
    <div class="bloque-texto">
        <h3>Diseño, confort y ubicación</h3>
        <p>
            Cada espacio está pensado para ofrecer calma, comodidad y una
            experiencia única. Materiales nobles, luz natural y atención personalizada.
        </p>
    </div>
    <div class="bloque-img">
        <img src="assets/img/1.jpg" alt="Experiencia Grand Stay">
    </div>
</section>

<section class="bloque invertido">
    <div class="bloque-img">
        <img src="assets/img/3.jpg" alt="Habitaciones exclusivas">
    </div>
    <div class="bloque-texto oscuro">
        <h3>Habitaciones exclusivas</h3>
        <p>
            Ambientes amplios, silenciosos y elegantes. Todo lo necesario para
            desconectarte del ritmo diario.
        </p>
    </div>
</section>

<footer class="footer" id="contacto">
    <div class="footer-info">
        <h4>Ultimate Hotel Software</h4>
        <p>📍 Avenida de los Pescadores 772</p>
        <p>📞 +54 9 223 676-4426</p>
        <p>✉️ leonelfsotopublic@gmail.com</p>
        <span>© 2026 </span>
    </div>

    <iframe 
    src="https://www.google.com/maps?q=UTN+Facultad+Regional+Mar+del+Plata&output=embed"
    loading="lazy">
</iframe>
</footer>